*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    margin: 5px;
    cursor: pointer;
}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}