*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #212121;
    color:white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clock{
    background-color: #1e9f1e;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
}